<div class='mycenter-page'>
    <ul>
        <li>
            <a href="#" class="login-mycenter" id='link-login'>
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <span class="link-login-span">尚未登录</span>
                <font>></font>
            </a>
        </li>
        <li>
            <a href="#cart" class="login-mycenter" id="link-cart">
                <i class="fa fa-shopping-cart" aria-hidden="true" ></i>
                <span>我的购物车</span>
                <font>></font>
            </a>
        </li>
        <li>
            <a href="#" class="login-mycenter" style="margin-bottom: 10px;">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <span>我的订单</span>
                <font>></font>
            </a>
        </li>
        <li>
            <a href="#" class="login-mycenter">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span>软件反馈</span>
                <font>></font>
            </a>
        </li>
        <li>
            <a href="#" class="login-mycenter">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <span>关于我们</span>
                <font>></font>
            </a>
        </li>
    </ul>
</div>
11111